:root{
  font-size: 16px;
}

@font-face {
  font-family: "Axiforma-Black";
  src: url('/src/fonts/converted-files/Axiforma-Black.ttf');
}
@font-face {
  font-family: "Axiforma-Book";
  src: url('/src/fonts/converted-files/Axiforma-Book.woff');
}



input {
  -webkit-appearance:none;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.accountDiv {
  background: #f4f4f4;;
  padding: 2px 12px;
  cursor: pointer;
  width: 85%;
  max-width: 500px;
  margin: 0, auto;
}

.cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.postDiv {
  background: rgba(53, 185, 153, 0.4);
  width: 400px;
  height: 600px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5%;
  font-family: 'Axiforma-Book';
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: "postLink postLikes postScore"
  "postIMG postIMG postIMG";
}

.postLink{
  text-decoration: none;
  color: #03363D;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: postLink;
}

.postLink:hover{
  text-decoration: underline;
}

.likesDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.postLikes{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #03363D;
  padding: 5%;
  grid-area: postLikes;
}

.postScore {
  color:#03363D;
  font-size: 1.2rem;
  font-family: "Axiforma-Book";
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: postScore;
}

.postIMG {
  margin-top: 100px;
  max-width: 60%;
  height: 60%;
  grid-area: postIMG;
}

#analyze1 {
  padding: 10px 10px;
  height: 40px;
  width: 130px;
  font-size: smaller;
  outline: none;
  font-weight: bold;
  background-color:#03363D;
  border: none;
  color:#ffffff;
  font-family: "Axiforma-Book";
  margin-top: 20px;
  margin-bottom: 20px;
}
#analyze2 {
  padding: 10px 10px;
  height: 40px;
  width: 130px;
  font-size: smaller;
  outline: none;
  font-weight: bold;
  background-color:#f2f2f2;
  border: none;
  color: #828282;
  font-family: "Axiforma-Book";
}


.btnDiv {
  display: flex;
  justify-content: center;
}
#loadingDiv {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.account {
  color:#03363D;
  text-align: center;
  font-size: medium;
  font-family: "Axiforma-Black";
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.title-page {
  width: 100%;
  text-align: center;
  color: #03363D;
  font-family: "Axiforma-Black";
  margin: 50px 0;
  font-size: x-large;
}

.version {
  color: #ffffff;
  font-size: smaller;
  text-align: right;
  margin-right: 5px;
  font-family: "Axiforma-Black";
}
.versiontxt  {
  background-color: #35B999;
  padding: 8px 14px 8px 14px;
  border-radius: 5vh;
}
.add-account {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
}

.add-account-sb {
  text-align: center;
  border-radius: 8vh;
  width: 70%;
  max-width: 600px;
  border: none;
  background-color: #F3F3F3;
  margin-top: 25px;
  height: 40px;
  font-size: medium;
  font-family: "Axiforma-Book";
}
.add-account-sb:focus {
  outline: none;


}

.add-account-submit {
  padding: 10px 20px 10px 20px;
  height: 40px;
  font-size: smaller;
  outline: none;
  font-weight: bold;
  background-color: #35B999;
  border: none;
  color: white;
  border-radius: 5vh;
  margin-left: 10px;
  font-family: "Axiforma-Black";
}